:root {
/* VARS */
    --main-color: #86608E;
    --contrast-color: invert(100%) hue-rotate(-30deg);
    --accent-color: saturate(20%);
    --font-size: 1em;
    --main-font-color: rgb(85, 85, 85);
    --inverted-font-color: rgb(236, 236, 236);
    --form-bg: rgba(243, 243, 243, 0.5);
    --nav-height: 80px;
    --nav-button-height: 40px;
    --hover-filter: brightness(110%);
    --transition: 0.2s all ease-out;
    --border-size: 1px;
    --border: var(--border-size) solid rgb(197, 197, 197);
    --radius: 2px;
    --shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0px 3px 6px 2px rgba(0, 0, 0, 0.4);
/* DEFAULTS */
    color: var(--main-font-color);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: var(--font-size);
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 2em;
    padding-left: 0;
    margin: 0px;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.8em;
}


/* /////////////////// FORMS */

form label {
    /* font-size: 0.8em; */
    font-weight: 600;
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea,
input,
select {
    font-size: var(--font-size);
    border: var(--border);
    background-color: var(--form-bg);
    width: 100%;
    padding: 0.5em;
    border-radius: var(--radius);
    /* Forms immediately below can join */
    margin-bottom: calc(var(--border-size) * -1);
    box-sizing: border-box;
}

textarea:hover,
input:hover {
    filter: brightness(110%);
}

input[type=checkbox],
input[type=radio],
input[type=range] {
    width: unset;
}

input[type=radio],
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: var(--border);
    transform: translateY(15%);
    transition: var(--transition);
    margin-left: 0px;
}

input[type=checkbox] {
    border-radius: 0%;
}

input[type=radio]:checked,
input[type=checkbox]:checked {
    /* border: 6px solid black; */
    background: var(--main-color);
    filter: var(--accent-color);
}

button {
    padding: 0.5em;
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--main-color);
    filter: var(--accent-color);
    color: var(--inverted-font-color);
    box-shadow: var(--shadow);
    font-size: var(--font-size);
}

button:hover {
    filter: var(--accent-color) var(--hover-filter);
}

.content {
    /* the main element*/
    padding-top: calc(var(--font-size) * 6);;
}


/* A generic panel/dialog */

.panel {
    /* width: 50%; */
    margin: 2em;
    margin-left: 10%;
    margin-right: 10%;
    border: var(--border);
    border-radius: var(--radius);
    padding: 2em;
    box-shadow: var(--shadow);
}

.top-right {
    float: right;
}

.button {
    cursor: pointer;
}


/* /////////////////// ROWS */

.rows {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10%;
    grid-gap: 5px;
    padding: 0.2em;
}

.rows>div:nth-child(odd) {
    background-color: var(--form-bg);
}


/* /////////////////// NAVIGATION */


/* Just a fancy logo styling */

.logo {
    display: inline-block;
    font-size: 2em;
    font-weight: 100;
    vertical-align: middle;
    padding: 0.4em;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 5px;
    box-sizing: border-box;
}

nav {
    z-index: 1;
    background-color: var(--main-color);
    color: var(--inverted-font-color);
    height: var(--nav-height);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: var(--shadow-dark);
    padding-top: 0.8em;
    padding-bottom: 1em;
    padding-left: 1em;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    /* font-weight: 600; */
    /* letter-spacing: 1px; */
    color: var(--inverted-font-color);
    margin-left: 1em;
    margin-right: 1em;
}

nav a:hover {
    filter: var(--hover-filter);
}

#nav-items {
    display: inline-block;
    /* box-shadow: 0 2px 4px 0px black; */
}

#nav-toggle,
#nav-icon {
    z-index: 0;
    height: var(--nav-button-height);
    width: var(--nav-button-height);
    display: none;
    transform: unset;
    margin: unset;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    margin-right: calc(var(--font-size) * 2);
    margin-top: calc( calc(var(--nav-height) / 2) - calc(var(--nav-button-height) / 2));
}

#nav-icon {
    z-index: -1;
    /* display: block; */
    /* background-color: red; */
    /* padding: 5px; */
    box-sizing: border-box;
    text-align: center;
    line-height: var(--nav-button-height);
    cursor: pointer;
}

#nav-toggle:checked+#nav-items {
    display: inline-block;
}

.itemcontainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-gap: 0px;
}


/* /////////////////// SPINNER */

.spinner {
    display: block;
    position: relative;
    width: var(--font-size);
    height: var(--font-size);
    /* margin: -50px 0 0 -50px; */
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--main-color);
    border-bottom-color: var(--main-color);
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@media screen and (max-width: 600px){
    /* body input {
        font-size: 1em;
    } */
    #nav-toggle,
    #nav-icon {
        display: inline-block;
    }
    #nav-items {
        display: none;
        background-color: var(--main-color);
        /* background-color: red; */
        width: 30%;
        position: absolute;
        right: 0px;
        top: var(--nav-height);
    }
    #nav-items a {
        display: block;
        padding: 0.5em;
    }
}


@media only screen and (min-resolution: 192dpi){

    :root {
        --font-size: 32px;
        --nav-height: 240px;
        --nav-button-height: calc(var(--font-size) * 3);
        --hover-filter: brightness(110%);
        --border: var(--border-size) solid rgb(197, 197, 197);
        --radius: 2px;
    }

    #nav-toggle,
    #nav-icon {
        display: inline-block;
    }
    #nav-items {
        display: none;
        background-color: var(--main-color);
        width: 30%;
        position: absolute;
        right: 0px;
        top: var(--nav-height);
    }
    #nav-items a {
        display: block;
        padding: 0.5em;
    }

}